Source = https://www.machinelearningplus.com/python/101-pandas-exercises-python/

# 1\. How to import pandas and check the version?

## Sulution

> My solution

In [1]:
import pandas as pd

In [12]:
pd.__version__

'1.3.5'

> Solution

In [13]:
import numpy as np  # optional
import pandas as pd
print(pd.__version__)
print(pd.show_versions(as_json=True))

1.3.5

/usr/local/lib/python3.7/dist-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

{
  "system": {
    "commit": "66e3805b8cabe977f40c05259cc3fcf7ead5687d",
    "python": "3.7.13.final.0",
    "python-bits": 64,
    "OS": "Linux",
    "OS-release": "5.4.188+",
    "Version": "#1 SMP Sun Apr 24 10:03:06 PDT 2022",
    "machine": "x86_64",
    "processor": "x86_64",
    "byteorder": "little",
    "LC_ALL": null,
    "LANG": "en_US.UTF-8",
    "LOCALE": {
      "language-code": "en_US",
      "encoding": "UTF-8"
    }
  },
  "dependencies": {
    "pandas": "1.3.5",
    "numpy": "1.21.6",
    "pytz": "2022.1",
    "dateutil": "2.8.2",
    "pip": "21.1.3",
    "setuptools": "57.4.0",
    "Cython": "0.29.30",
    "pytest": "3.6.4",
    "hypothesis": null,
    "sphinx": "1.8.6",
    "blosc": null,
    "feather": "0.4.1",
    "xlsxwriter": null,
    "lxml.etree": "4.2.6",
    "html5lib": "1.0.1",
    "pymysql": null,
    "psycopg2": "2.7.6.1 (dt dec pq3 ext lo64)",
    "jinja2": "2.11.3",
    "IPython": "5.5.0",
    "pandas_datareader": "0.9.0",
    "bs4": "4.6.3",
    "bottleneck": null,
    "fsspec": null,
    "fastparquet": null,
    "gcsfs": null,
    "matplotlib": "3.2.2",
    "numexpr": "2.8.3",
    "odfpy": null,
    "openpyxl": "3.0.10",
    "pandas_gbq": "0.13.3",
    "pyarrow": "6.0.1",
    "pyxlsb": null,
    "s3fs": null,
    "scipy": "1.7.3",
    "sqlalchemy": "1.4.39",
    "tables": "3.7.0",
    "tabulate": "0.8.10",
    "xarray": "0.20.2",
    "xlrd": "1.1.0",
    "xlwt": "1.3.0",
    "numba": "0.51.2"
  }
}None

# 2\. How to create a series from a list, numpy array and dict?

Create a pandas series from each of the items below: a list, numpy and a dictionary<br>

> input:<br>

    import numpy as np
    mylist = list('abcedfghijklmnopqrstuvwxyz')
    myarr = np.arange(26)
    mydict = dict(zip(mylist, myarr))

## Solution

> My solution

In [ ]:
import numpy as np
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))

print(pd.Series(mylist))
print(pd.Series(myarr))
print(pd.Series(mydict))

> Solution

In [22]:
# Inputs
import numpy as np
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))

# Solution
ser1 = pd.Series(mylist)
ser2 = pd.Series(myarr)
ser3 = pd.Series(mydict)
print(ser3.head())

a    0
b    1
c    2
e    3
d    4
dtype: int64

# 3\. How to convert the index of a series into a column of a dataframe?
Difficulty Level: L1<br>

Convert the series ser into a dataframe with its index as another column on the dataframe.<br>

> input:<br>

    mylist = list('abcedfghijklmnopqrstuvwxyz')
    myarr = np.arange(26)
    mydict = dict(zip(mylist, myarr))
    ser = pd.Series(mydict)

## Solution

> My solution

In [24]:
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
ser = pd.Series(mydict)

pd.DataFrame(ser).reset_index()

   index   0
0      a   0
1      b   1
2      c   2
3      e   3
4      d   4
5      f   5
6      g   6
7      h   7
8      i   8
9      j   9
10     k  10
11     l  11
12     m  12
13     n  13
14     o  14
15     p  15
16     q  16
17     r  17
18     s  18
19     t  19
20     u  20
21     v  21
22     w  22
23     x  23
24     y  24
25     z  25

> Solution

In [ ]:
# Input
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
ser = pd.Series(mydict)

# Solution
df = ser.to_frame().reset_index()
print(df.head())

> \# Study Point
- `(Series).to_frame()`은 Series 데이터를 DataFrame 형식의 데이터로 변환해준다.
- `.reset_index()`는 index를 기본값으로 초기화 해준다.
    - 이때 기존에 있던 index는 첫 번째 column이 된다.
    - 괄호 안에 `drop=True`라는 옵션을 주면 기존의 index를 버리고 재배열 해준다.

In [32]:
# Example
srr = pd.Series({'Name':'Mike', 'Age':20, 'Sex':'Male'})

df = srr.to_frame()
df

         0
Name  Mike
Age     20
Sex   Male

In [34]:
# Example 2
df.reset_index()

  index     0
0  Name  Mike
1   Age    20
2   Sex  Male

In [35]:
df.reset_index(drop=True)

      0
0  Mike
1    20
2  Male

# 4\.